:root {
    /* --main-color: #c0392b; */
    /* --main-color:#00acc1;     */
    --main-color:#fe2c55;    
    --body-bg: #181616;
    --box-bg: #221f1f;
    --text-color: #ffffff;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
}

*{
    margin: 0;
    box-sizing: border-box;
}